
body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  html[class='dark'] {
    body {
      background-color: #0f0f0f;
      color: white;
    }
  
    .card {
      background-color: #1f1f1f;
      color: white;
    }
  
    .navbar,
    .footer {
      background-color: #111 !important;
    }
  }
  
  html[class='light'] {
    body {
      background-color: #f8f9fa;
      color: #000;
    }
  
    .card {
      background-color: #fff;
      color: #000;
      // border: 1px solid red
    }
  
    .navbar,
    .footer {
      background-color: white !important;
    }
  }

